.brand-logo {
    position: relative;
    display: flex;
    width: 120px;
    height: 28px;
    flex-shrink: 0;
    top: 17px;
    left: 13px;
    font-size: var(--Title-Large-Size);
    padding-left: 3px;
    justify-content: flex-end;
    align-items: center;
}