.button-r {
    position: relative;
    bottom: 24px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    /* display: flex; */
    width: 100px;
    height: 40px;
    gap: 6.588px;
    flex-shrink: 0;
}